<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ImkStala</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <link href="~/css/headerStyle.css" rel="stylesheet" />
    <link href="~/css/footerStyle.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="~/js/functions.js"></script>
    <link href="~/css/contentStyle.css" rel="stylesheet" />
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body>
    <nav class="navbar navbar-default head">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">imkStala</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="@Url.Action("Book", "Home")">Book</a></li>
                <li><a href="/">Page 2</a></li>
                <li><a href="/">Page 3</a></li>
            </ul>
            <ul class="nav navbar-nav navbar">
                <li class="action-button"><a href="#registerModal" data-toggle="modal" class="noPadding"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li class="action-button"><a href="@Url.Action("Login", "Home")" data-toggle="modal" class="noPadding"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>
    <div id="registerModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"> User or restaurant </h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 text-center" onclick="goToUrl('UserRegistration')">
                            <h1> User </h1>
                        </div>
                        <div class="col-md-6 text-center" onclick="goToUrl('RestaurantRegistration')">
                            <h1> Restaurant </h1>
                        </div>
                    </div>
                    <button type="button" class="closeButton" data-dismiss="modal"> Close </button>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        @RenderBody()
    </div>
    <footer class="footer">
        Foooooooooooter
    </footer>
</body>
</html>